@import url("config/normalize.css");
@import url("config/myreset.css");
@import url("config/variables.css");

@import url("header/header.css");
@import url("header/menu-hamburguer.css");

@import url("banner/banner.css");
@import url("banner/search-book.css");

@import url("carousel/carousel.css");

@import url("card/card.css");
@import url("card/button.css");

body {
  background-color: var(--bg-color);
  font-family: var(--main-font);
  font-weight: 400;
}
