.books-header {
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .container {
    display: flex;
    align-items: center;
  }

  .icon {
    padding: 1rem;
  }
}
