.banner-section {
  background: var(--blue-gradient);
  color: var(--white);
  text-align: center;
  padding: 2.5rem 2rem;

  > .title {
    font-size: 1.125rem;
    font-weight: 700;
  }

  > .text {
    font-weight: 500;
    margin: 1rem 0 ;
  }
}