.contact-section {
  background-color: var(--white);
  padding: 2.5rem 2rem;
  text-align: center;

  > .title {
    font-weight: 500;
    font-size: 1.125rem;
  }

  > .description {
    margin: 1rem 0;
  }

  > .title, > .description {
    font-size: 1rem;
    background: var(--blue-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

@media screen and (min-width: 1024px) {
  .contact-section {
    > .title {
      font-size: 1.5rem;
    }
  }
}